* {
    box-sizing: border-box;
}

.navBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
  background: linear-gradient(to right, #d4145a, #fbb03b); /* Modern red-orange gradient */
  border-radius: 40px;
  gap: 3vh;
  padding: 1.85vh;
  font-weight: bold;
  width: 98%;
  margin-left: 1.3vh;
  box-shadow: 0 4px 8px rgba(233, 30, 99, 0.7);

}

.navBar a {
  color: white;
  text-decoration: none;
  font-size: 1.13rem;
  margin-left: 1.3vh;
}

.navBar a:hover {
  text-decoration: underline;
  color: rgb(92, 92, 243);
}

:host {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.signin-card {
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  width: 500px;
  height: 350px;
  background:#a33053;
  margin-top: 6vh; 
  padding: 30px 40px;
  color: white;
  margin-left: 25%;
}

.card-title {
    padding: 13px;
}

.card-title h1 {
    font-size: 26px;
    font-weight: bold;
    
}

.form-group input {
    margin: 5px 0;
    width: 100%;
    background-color: #e2e2e2;
    border: none;
    outline: none;
    padding: 12px 20px;
    margin-top:3vh;
    border-radius: 4px;
}

.form-group input[type="submit"] {
    background-color: #4796ff;
    color: #ffffff;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    width: 100%;
}

.card-terms {
    display: flex;
    align-items: center;
    padding: 10px;
}

.card-terms span {
    margin: 5px;
    font-size: 13px;
}

button{
    margin-top: 3vh;
    padding: 12px;
    border-radius: 12px;
    background-color: #4796ff;
}