body{
    align-items: center;
}
.navBar{
    display: flex;
    align-items: center;
    background-color: #450d80;
    border-radius: 40px;
    gap: 3vh;
    padding: 3vh;
    font-weight: bold;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        to bottom,
        #2c0a4c,
        #450d80
    ); 
    text-align: center;
    border-radius: 12px;
    max-width: 48%;
    margin-left: 25%;
    margin-top: 3vh;
}

.img{
    border-radius: 16px;
    margin-top: 2.75vh;
    margin-bottom: 0.5vh;
    height: 45vh;
    width: 100vh;
    align-items: center;
    
}
 
h1{
    font-size: 4.5vh;
}